
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #B5AA9D;
}


.form {
    background-color: #747274;
    text-align: center;
    height:  320px;
    border-radius: 10px;
    
}

#sign-up{
    margin-top: 20px;
    width:150px;
    background-color: #7C90A0;
}

#log-in{
    width: 150px;
    background-color: #7C90A0;
}

.sign-up-free{
    
    color:white
}

input{
    margin:0 10px;
    background-color: ##B9B7A7;
    width: 100px;
    margin: 10px;
    width: 150px;
    
}


.button{
    background-color: gray;
    width: 100%;
    padding:10px;
}


#get-started{
    
    background-color: #7C90A0;
    width:280px;
    padding:  10px;
    color: white;
    font-weight: bold;
}